#b4 {
    background-color: rgb(0, 234, 255);
    color:#0400ff;
    border-radius:none;
}

#b5 {
    background-color: rgb(0, 234 , 255);
    color: #0400ff;
    border: radius 5px;;
}

#b6 {
    background-color: rgb(0, 234, 255);
    color:#0400ff;border-radius:5px;
    border-color: blueviolet
}
